.card{
  background: url("https://i.imgur.com/LDiWP91.png");
  color: white;
}

.panel{
  margin-top: 25px;
}

.userChannels{
  margin-top: 20px;
}


// Button Backgrounds
#addChannel{
  background: url("https://i.imgur.com/cK1tC6c.png");
  box-shadow: dimgray;
}

.input-group-text{
  background: url("https://i.imgur.com/cK1tC6c.png");
}

.channelBut{
  color: #77796d;
}

// Icons and Buttons
.fa-plus:hover {
  content: "\f067";
  font-size: 1.1rem;
  color: #00b000;
}

.fa-trash-o:hover{
  font-size: 1.1rem;
  color: red;
}

.fa-eye:hover{
  font-size: 1.1rem;
  color: deepskyblue;
}

//
.list-group-item{
  cursor: pointer;
  padding: 0;
}

.input-label{
  background: rgba(0,0,0,0);
  border: none;
  cursor: none;
  color: black;
  padding-left: 4%;
  font-size: 1rem;
}

// Message Details
.list-group-flush li:nth-child(1){
  margin-top: -2%;
}

.list-group-flush li{
  background: url("https://i.imgur.com/9hXkgVS.png");
}

.list-group-flush li:nth-child(odd){
  background: url("https://i.imgur.com/cK1tC6c.png");
}

.sender{
  padding-left: 3%;
  padding-top: 1%;
  font-weight: bold;
  font-size: .7rem;
}

.fa fa-edit{
  font-size: .7rem;
}

.messages{
  padding-left: 3%;
  margin-top: -3%;
  font-size: .65rem;
}

.stamp{
  font-size: 0.5rem;
  padding-right: 9%;
  color: dimgray;
}

