.panel{
  margin-top: 60px;
}

.card{
  background: url("https://i.imgur.com/LDiWP91.png");
  color: #5be0f3;
}

.input-group-text{
  background: black;
  color: #5be0f3;
}

.input-group-text,i, .fa fa-trash-o {
  color:red;
}

.channelBut{
  background: rgba(0, 128, 0, 0.73);
}

.fa-mouse-pointer:before {
  content: "\f245";
  color: white;
}

.list-group-item{
  cursor: pointer;
  background: url("https://i.imgur.com/cK1tC6c.png");
  padding: 0;
}

.input-label{
  background: rgba(0,0,0,0);
  border: none;
  cursor: none;
  color: black;
  padding-left: 15px;
  font-size: 1rem;
}

.fa-group:before, .fa-users:before {
  color: #5be0f3;
  font-size: 1rem;
}

