<div class="container">
    <div class="row">
        <!----------------------------    Left Column  -------------------------- -->
        <div class="col-sm-4">
            <!--   Channel Panel  -->
            <div class="row panel">
                <div class="col-sm-12">
                    <div class="card">
                        <h6 class="card-header text-center">Create A Channel</h6>
                    </div>
                </div>
            </div>
            <!--  Create Channel Row  -->
            <div class="row createChannel">
                <div class="col-sm-12 input-group create">
                    <input type="text"
                           class="form-control"
                           id="channelName"
                           name="channelName"
                           placeholder="Channel Name"
                           aria-label="Search"
                           aria-describedby="basic-addon1"
                           [(ngModel)]="channelModel.channelName">
                    <div class="input-group-append">
                        <span class="input-group-text"><i (click)="createChannel()" class="fa fa-plus text-center" id="addChannel"></i></span>
                    </div>
                </div>
            </div>

            <!--    Create Channel By User Row      -->
            <!--            <div class="row createChannel">-->
            <!--                <div class="col-sm-12 input-group create">-->
            <!--                    <input type="text"-->
            <!--                           class="form-control"-->
            <!--                           id="channelName1"-->
            <!--                           name="channelName"-->
            <!--                           placeholder="Channel Name"-->
            <!--                           aria-label="Search"-->
            <!--                           aria-describedby="basic-addon1"-->
            <!--                           [(ngModel)]="channelModel.channelName">-->

            <!--                    <div class="input-group-append">-->
            <!--                        <button class="btn btn-lg"-->
            <!--                                type="button"-->
            <!--                                (click)="createChannel()"-->
            <!--                                class="btn channelBut"-->
            <!--                                id="addChannel">-->
            <!--                            <span><i class="fa fa-plus text-center"></i></span>-->
            <!--                        </button>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->

            <div class="row userChannels">
                <div class="col-sm-12">
                    <div class="card">
                        <h6 class="card-header text-center">NamePH Channels</h6>
                    </div>
                </div>
            </div>

            <!--   Show Channels  -->
            <div class="row">
                <div  class="input-group create col-sm-12">
                    <a *ngFor="let channel of channels" class="list-group-item list-group-item-action">
                        <input [(ngModel)]="channel.channelName" (change)="updateChannel(channel)" type="text" class="input-label">
                        <div class="input-group-append pull-right">
                            <span class="input-group-text"><i class="fa fa-eye" id="view" (click)="getChannelMessages(channel); showHiddenElement();"></i></span>
                            <span class="input-group-text"><i class="fa fa-trash-o" id="trash" (click)="deleteChannel(channel)"></i></span>
                        </div>
                    </a>
                </div>
            </div>

        </div>


        <!---------------------   Right Column  --------------------->
        <div class="col-sm-8">

            <!--   Channel Panel  -->
            <div class="row panel">
                <div class="col-sm-12">
                    <div class="card">
                        <h6 class="card-header text-center">Channel Messages</h6>
                    </div>
                </div>
            </div>


            <!--   Channels Messages  -->
            <div class="row">
                <div class="container col-sm-12">
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let message of channelMessages" class="list-group-item">
                            <div class="row sender">
                                <div class="col-sm-8">
                                    <p class="username">{{message.sender.userName}}</p>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <p class="stamp">{{message.timestamp | date:'M/d/yy-h:mm a'}}</p>
                                </div>
                            </div>
                            <div class="row messages">
                                <div class="col-12">
                                    <p class="content">{{message.content}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!--    Add Message to Channel  -->
            <div *ngIf="isShow" class="row">
                <div  class="col-sm-12 container form-group">
                    <textarea [(ngModel)]="messageModel.content" (keyup.enter)="sendMessage(messageModel)" class="form-control" id="addMessage" rows="2"></textarea>
                </div>
            </div>

        </div>

    </div>
</div>

