<div class="container">
    <!-- Search Area -->
    <div class="row search">
        <div class="col-md-8">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Channels <i class="fa fa-tv ml-2"></i></span>
                <input type="text"
                       class="form-control"
                       id="channelName"
                       name="channelName"
                       placeholder="Create Channel"
                       aria-label="Search"
                       aria-describedby="basic-addon1"
                       [(ngModel)]="channelModel.channelName">
            </div>
        </div>

        <div class="col-md-4">
            <button type="button"
                    (click)="createChannel()"
                    class="btn btn-outline-primary channelBut">
                <span><i class="fa fa-plus mr-2"></i></span> Channel</button>
        </div>

    </div>
    <!-- TODO ERROR HANDLING -->

    <!-- List Of Public Channels -->
    <div class="row channels">
        <div class="col-md-3 channelOptions">
            <div class="list-group">
                <a *ngFor="let channel of channels" class="list-group-item list-group-item-action">
                    <i class="fa fa-group"></i>
                    <input [(ngModel)]="channel.channelName" (change)="updateChannel(channel)" type="text" class="input-label" style="width: 70%">
                    <a (click)="deleteChannel(channel)" class="pull-right text-danger">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </a>

            </div>
        </div>
        <!-- List Of Channel Messages -->
        <div class="col-md-9 channel-messages">
            <div class="single-message">
                <ul *ngFor="let message of channelMessages" class="list-group list-group-flush">
                    <li class="list-group-item">{{message.content}}</li>
                </ul>
            </div>

        </div>
    </div>

</div>

