<div class="container">
    <div class="row">


        <!----------------------------    Users Column  -------------------------- -->
        <div class="col-sm-2">
            <div class="row panel">
                <div class="col-sm-12">
                    <div class="card">
                        <h6 class="card-header text-center">Users</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 container">
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let user of channelUsers" id="users" class="list-group-item">
                            <span><i class="fa fa-circle-o" id="connection"></i>{{user.userName}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

<!--        <span><i [ngClass]="{-->
<!--                                    'online': user.connected === true,-->
<!--                                    'offline': user.connected === false-->
<!--                                     }"-->
<!--                 class="fa fa-circle-o"-->
<!--                 id="connection">-->
<!--                            </i>{{user.userName}}</span>-->


<!----------------------------    Channels Column  -------------------------- -->
        <div class="col-sm-4">
            <!--   Channel Panel  -->
            <div class="row panel">
                <div class="col-sm-12">
                    <div class="card">
                        <h6 class="card-header text-center">Create A Channel</h6>
                    </div>
                </div>
            </div>
            <!--  Create Channel Row  -->
            <div class="row createChannel">
                <div class="col-sm-12 input-group create">
                    <input type="text"
                           class="form-control"
                           id="channelName"
                           name="channelName"
                           placeholder="Channel Name"
                           aria-label="Search"
                           aria-describedby="basic-addon1"
                           [(ngModel)]="channelModel.channelName">
                    <div class="input-group-append">
                        <span class="input-group-text"><i (click)="createChannel()" class="fa fa-plus text-center" id="addChannel"></i></span>
                    </div>
                </div>
            </div>

            <!--   User Channels  -->
            <div class="row userChannels">
                <div class="col-sm-12">
                    <div class="card">
                        <h6 class="card-header text-center">{{currentUser?.firstName}} Channels</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div  class="input-group create col-sm-12">
                    <a *ngFor="let channel of channels" class="list-group-item list-group-item-action">
                        <input [(ngModel)]="channel.channelName" (change)="updateChannel(channel)" type="text" class="input-label">
                        <div class="input-group-append pull-right">
                            <span class="input-group-text"><i class="fa fa-lock" (click)="updateChannelPrivacy(channel)"></i></span>
                            <span class="input-group-text"><i class="fa fa-eye" id="view" (click)="getChannelMessages(channel); showHiddenElement();"></i></span>
                            <span class="input-group-text"><i class="fa fa-trash-o" id="trash" (click)="deleteChannel(channel)"></i></span>
                        </div>
                    </a>
                </div>
            </div>

            <!--   Public Channels  -->
            <div class="row userChannels">
                <div class="col-sm-12">
                    <div class="card">
                        <h6 class="card-header text-center">Public Channels</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div  class="input-group create col-sm-12">
                    <a *ngFor="let channel of publicChannels" class="list-group-item list-group-item-action">
                        <label>
                            <input [(ngModel)]="channel.channelName" type="text" class="input-label">
                        </label>
                        <div class="input-group-append pull-right">
                            <span class="input-group-text"><i class="fa fa-eye" (click)="getChannelMessages(channel); showHiddenElement();"></i></span>
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <!---------------------   Channel Messages Column  --------------------->
        <div class="col-sm-6">

            <!--   Channel Panel  -->
            <div class="row panel">
                <div class="col-sm-12">
                    <div class="card">
                        <h6 class="card-header text-center">Channel Messages</h6>
                    </div>
                </div>
            </div>


            <!--   Channels Messages  -->
            <div class="row">
                <div class="container col-sm-12">
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let message of channelMessages" class="list-group-item">
                            <div class="row sender">
                                <div class="col-sm-8">
                                    <p class="username">{{message.sender?.userName}}</p>
                                </div>
                                <div class="col-sm-3 text-right">
                                    <p class="stamp">{{message?.timestamp | date:'M/d/yy-h:mm a'}}</p>
                                </div>
                                <div class="col-sm-1">
                                    <i class="fa fa-edit"></i>
                                </div>
                            </div>
                            <div class="row messages">
                                <div class="col-12">
                                    <p class="content">{{message?.content}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <!--    Add Message to Channel  -->
            <div *ngIf="isShow" class="row">
                <div  class="col-sm-12 form-group">

                    <label for="addMessage" class="container"></label>
                    <textarea placeholder="Type your message here. Hit enter to send."
                              class="form-control"
                              [(ngModel)]="messageModel.content"
                              (keyup.enter)="sendMessage(messageModel);messageModel.content ='';"
                              id="addMessage"
                              rows="2"
                    >
                    </textarea>

                </div>
            </div>

        </div>



    </div>
</div>

