<!--<div *ngIf="currentUser?.userName">-->
<!--    {{currentUser | json }}-->
<!--    {{currentUser.userName}}-->
<!--</div>-->

<div class="container">
    <div class="row dashboard-inner-container">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">Welcome back {{currentUser?.userName}}</h4>
            </div>
            <div class="card-body">
                <img class="card-img-top" src="https://i.imgur.com/adb9dOh.jpg">
                <h5 class="card-title text-center">User Info</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row no-gutters">
                            <div class="col-sm-4">
                                <p>First Name</p>
                            </div>
                            <div class="col-sm-8">
                                <p>{{currentUser?.firstName}}</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row no-gutters">
                            <div class="col-sm-4">
                                <p>Last Name</p>
                            </div>
                            <div class="col-sm-8">
                                <p>{{currentUser?.lastName}}</p>
                            </div>
                        </div>

                    </li>
                    <li class="list-group-item">
                        <div class="row no-gutters">
                            <div class="col-sm-4">
                                <p>Username</p>
                            </div>
                            <div class="col-sm-8">
                                <p>{{currentUser?.userName}}</p>
<!--                                <p><span><input [(ngModel)]="currentUser.userName" (change)="updateUserName(currentUser)" type="text" class="input-label"></span></p>-->
                            </div>
                        </div>
                    </li>
                </ul>
<!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
        </div>
    </div>
</div>

<!--<carousel>-->
<!--    <slide>-->
<!--        <img src="https://i.imgur.com/adb9dOh.jpg" alt="first slide" style="display: block; width: 100%;">-->
<!--    </slide>-->
<!--    <slide>-->
<!--        <img src="assets/images/nature/2.jpg" alt="second slide" style="display: block; width: 100%;">-->
<!--    </slide>-->
<!--    <slide>-->
<!--        <img src="https://i.imgur.com/adb9dOh.jpg" alt="third slide" style="display: block; width: 100%;">-->
<!--    </slide>-->
<!--</carousel>-->



<!--&lt;!&ndash;<input [(ngModel)]="currentUser.userName" (change)="updateUserName(currentUser)" type="text" class="input-label">&ndash;&gt;-->


