

.navbar-collapse .navbar-nav > li > a {
  color: #5be0f3
}

.navbar .navbar-brand > span {
  color: #5be0f3
}

.navbar .navbar-brand > i {
  color: #5be0f3
}

.navbar-collapse .navbar-nav > li > a:hover,
.navbar-collapse .navbar-nav > li > a:focus {
  color: white;
}

.navbar{
  background: url("https://i.imgur.com/jRXurGV.png");
}
